**/__pycache__
**/.devcontainer
**/.github

**/.venv
**/.venv-311
**/.venv-312
**/.vscode

**/data/pp2_recovery
**/data/*.db
**/doc
**/HFDA64Portable

**/PP2
**/spike

**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
LICENSE
*.md
**/.DS_Store


