**/__pycache__
**/*.pyc
**/.devcontainer
**/.github

**/.venv
**/.venv-311
**/.venv-312
**/.vscode

data
**/doc
**/HFDA64Portable

**/PP2
**/spike

**.dockerignore
**.env
**.git
**.gitignore
**.project
**.settings
**.toolstarget
**.vs
Dockerfile
*.md
**.DS_Store
.streamlit/secrets.toml


